* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90%; */
}

canvas{
    background-image: url(download\ \(5\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 44.5rem;
}
